body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  /* background-color: #333333; */
  overflow: hidden;
  padding: 0px;
}

.blue {
  background: rgb(46, 100, 137);
}

.darkGrey {
  background-color: #00000f;
  background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
}

#container {
  width: 100vw;
  height: 100vh;
  z-index: 10;
}


.bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.square {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 4px;
  opacity: 0.5;
  border: 3px solid rgb(85, 136, 170);
  border-radius: 10px;
}

.title {
  top: 20%;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 64px;
  text-align: center;
  z-index: 11;
}

footer {
  bottom: 20%;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  text-align: center;
  z-index: 11;
}

footer a,
a:hover,
a:visited {
  text-decoration: none;
  color: #eeeeee;
  border-bottom: 1px solid;
}

footer a:hover,
a:focus {
  text-decoration: none;
  color: #dddddd;
  border-bottom: 1px solid;
}

@media (max-width: 767px) {
  .square {
    height: 50px;
    width: 50px;
  }

  .title {
    font-size: 34px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  10% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

@keyframes fade-out {
  0% {
    opacity: 1
  }

  90% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.alison {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 11;
}

.alison-title {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 9.5s;
  animation-delay: 0.5s;
}

.alison-subtitle {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 8.5s;
  animation-delay: 1.5s;
}

.fade-out-d8 {
  animation-name: fade-out;
  animation-duration: 2s;
  animation-delay: 8s;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
}