body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #3F84E5;
  overflow: hidden;
  padding: 0px;
}


.darkGrey {
  background-color: #FAF5EA;
  /* background: linear-gradient(to bottom, #020111 60%, #20202c 100%); */
}

/* #0f0326 - dark purple */
/* #305252 - dark green */
/* #003049 - dark green */

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #003049;
}

#container {
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

nav {
  z-index: 12;
  position: absolute;
  height: 40px;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 24px 16px 24px;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 16px;
  padding: 0;
}

nav ul li a svg {
  fill: #003049;
  height: 30px;
  margin-left: 8px;
}

a.anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

.parallax-container {
  z-index: 11;
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  bottom: 0;
  overflow: scroll;
  padding: 0 5%;
}

.section {
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 24px 0;
  width: 100%;
  z-index: 11;
  position: relative;
  text-align: center;
  will-change: opacity;
}

.buffer {
  height: 60%;
  width: 100%;
  z-index: 11;
  position: relative;
  will-change: opacity;
}

.h-40 {
  height: 40%;
}

.title {
  font-size: 64px;
  font-weight: 600;
  margin: 24px;
}

.subtitle {
  font-size: 32px;
  font-weight: 400;
  margin: 24px;
}

.home {}

.scroll-indicator {
  z-index: 11;
  text-align: center;
  margin-top: 25%;
}

.scroll-indicator p {
  margin: 8px 0;
}

.scroll-indicator svg {
  fill: #3F84E5;
  height: 30px;
  opacity: 0;
  animation-name: fade-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.about {}

.tech {}

.tech-grid {
  display: grid;
  grid-template-areas:
    'main main main'
    'main main main';
  gap: 25%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.tech-grid img {
  height: 75px;
}

.contact {
  font-size: 16px;
}

@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 24px;
  }

  .tech-grid {
    grid-template-areas:
      'main main';
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0
  }

  30% {
    opacity: 0.9
  }

  50% {
    opacity: 1
  }

  70% {
    opacity: 0.9
  }

  100% {
    opacity: 0
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  10% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

@keyframes fade-out {
  0% {
    opacity: 1
  }

  90% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.alison {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 11;
}

.alison-title {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 9.5s;
  animation-delay: 0.5s;
}

.alison-subtitle {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 8.5s;
  animation-delay: 1.5s;
}

.fade-out-d8 {
  animation-name: fade-out;
  animation-duration: 2s;
  animation-delay: 8s;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
}